div{
  /*width: 200px; /*2  ejercicio  */
  height: 100px;
  padding:  10px 0px 0px 5px;
  margin-bottom:  10px;
  /*display: inline; /* 3 ejercicio* + margin right: 10 px */
}
.dos{
  width: 30%;

}
.tres{
  width: 32%;
  display:inline-block;
}
.cuatro{
  display:inline;
}

  .bandera-amarilla{
    background-color:#F7B617;
  }
  .bandera-gris{
    background-color:#2B2B2B;
    color:#FFF
    }

/* siempre se  selectores de  etiquetas rojos. 2  selectores de div.
/* 3
